{% extends 'books/base.html' %}
{% block content %}

<br>
<div class="container mt-1">
    <h4>{{ title2 }}</h4>

    <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0" style="display:flex;">
        <input name="query" class="form-control mr-sm-2" type="text" placeholder="Ieškoti" />
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="margin-left: 10px;"> Ieškoti
        </button>
    </form>


    <div class="row">
        {% for a in allbooks %}
        <div class="card" style="margin: 10px;">
            <div class="container" style="margin-top: 15px;">
                <div class="row">
                    <div class="col-sm">
                        {% if a.book_image %}
                        <p><img class="rounded" src="{{a.book_image.url}}" height="300" width="auto"></p>
                        {% endif %}
                    </div>
                    <div class="col-sm">
                        <p> Autorius: {{ a.authorAdd }}</p>
                        <p> Pavadinimas: <strong>{{ a.book_title }}</strong></p>
                        <p> Išleidimo metai: {{ a.publisher }}</p>
                        <p> Puslapiai: {{ a.pages }}</p>
                        <p> Kalba: {{ a.language }}</p>
                    </div>
                    <hr>
                    <div class="col-sm">
                        <div class="col-sm">
                            <h5>Atsiliepimai</h5>
                            {% if book.bookreview_set.all %}
                                {% for review in book.bookreview_set.all %}
                                    <hr>
                                    <strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created }}</em>
                                    <p>{{ review.content }}</p>
                                {% endfor %}
                            {% else %}
                            <p>Knyga neturi atsiliepimų.</p>
                            {% endif %}
                        </div>
                        <div class="col-sm">
                            {% if user.is_authenticated %}
                            <div class="fieldWrapper">
                                <hr>
                                <h5>Jūsų atsiliepimas:</h5>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="text" value="{{ form.content }}" style="width: 20%; height:30px">
                                    <br>
                                    <input type="submit" class="btn btn-secondary" style="margin-bottom: 10px; margin-top: 10px;"
                                        value="Palikti atsiliepimą">
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}